.env
.venv/
__pycache__/
.pytest_cache/
*.py[cod]
data/*.db
data/raw/*
data/extracted/*
data/processed/*
logs/*.log*
!data/raw/.gitkeep
!data/extracted/.gitkeep
!data/processed/.gitkeep
!logs/.gitkeep
